/* _content/Package.BlazorComponentLibrary/Components/SimpleCounter.razor.rz.scp.css */
h3[b-qhty1unswc] {
    color: blue;
    font-size: 24px;
}

button[b-qhty1unswc] {
    background-color: darkblue;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
}

    button:hover[b-qhty1unswc] {
        background-color: navy;
    }
