<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!--<add key="elfhHub.Nhs.Models" value="https://pkgs.dev.azure.com/e-LfH/_packaging/LearningHubFeed/nuget/v3/index.json" />-->
		<!--set in cicd or as a system environmental variable-->
		<add key="LocalPackagePath" value="%LocalPackagePath%" />
	</packageSources>
</configuration>