<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<!--<add key="elfhHub.Nhs.Models" value="https://pkgs.dev.azure.com/e-LfH/_packaging/LearningHubFeed/nuget/v3/index.json" />-->
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<!--<packageSource key="elfhHub.Nhs.Models">
			<package pattern="ElfhHub.*" />
		</packageSource>-->
	</packageSourceMapping>
</configuration>