<configuration>
	<packageSources>
		<!-- Define the nuget.org package source -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

		<!-- Define the elfhHub.Nhs.Models package source qqqq hmm may need pipeline and security for this-->
		<add key="elfhHub.Nhs.Models" value="https://pkgs.dev.azure.com/e-LfH/_packaging/LearningHubFeed/nuget/v3/index.json" />
	</packageSources>
</configuration>