<h3>Simple Counter</h3>
<h1 class="nhsuk-tag--red">!!!!!! If im red we are getting nhsuk-tag-red !!!!!!</h1>
change
<b>version from build process</b>
<span class="version-display">@Package.BlazorComponentLibrary.BCLVersion.VersionInfo.Version</span>
<b>manually types</b>
<span>5.6.9</span>
<button class="btn btn-primary" @onclick="IncrementCount">
  surely not A Build aaa(@currentCount)
</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}