<h3>Simple Counter</h3>

<button class="btn btn-primary" @onclick="IncrementCount">
    Click me version! 0.0.0200 (@currentCount)
</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}