<h3>Simple Counter</h3>

<button class="btn btn-primary" @onclick="IncrementCount">
    NEW! Click me! version! test build 1.1.1 (@currentCount)
</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}