<h3>Simple Counter</h3>
Feat123
<button class="btn btn-primary" @onclick="IncrementCount">
   A Build aaaa(@currentCount)
</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}